:root {
      --base: #ffc600;
      --spacing: 10px;
      --blur: 10px;
			--background-color: #0E648E;
			--height: 700px;
      --welcome-bg-color: #FEB769;
      --welcome-color: #0E4458;
      --where-bg-color: #0E4458;
      --program-bg-color: #8EAF8B;
      --gift-bg-color: #A6291C;
      --food-bg-color: #0E4458;
      --max-width-inside: 150px;
    }

body {
	margin: 0 !important;
	padding: 0 !important;
  overflow-x: hidden;
  background: #eee;
}

nav{
  max-width: 1400px;
}

.onepager, nav{
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);

}

h1{
	font-family: 'Fresca', sans-serif;
	font-size: 9em;
  margin:auto;
}

h2{
  font-family: 'Merriweather', sans-serif;
  font-size: 4em;
}

p{
  font-family: 'Merriweather', sans-serif;
  font-size: 2em;
}

.element {
	height:var(--height);
	position:relative;
  z-index:0;
	width: 100%;
	display: inline-block;
	padding: 0;
}



.background-image {
  text-align: center;
  margin: 0;
  padding: 0;
	position:absolute;
	width: 100%;
  /*opacity: 0.8;*/
  z-index: -1;
}

.bg-img{
  object-fit:cover;
  min-height: var(--height);
  max-width: 100%;
  opacity: 0.8;
}

/*section{
  margin: 1em;
}*/

.title{
  margin: 10em 0.2em 1em 6em;
  padding: 0.2em;
  max-width: 35%;
  /*max-width: var(--max-width-inside);*/
  opacity: 0.9;
}


.welcome h1{
  color: var(--welcome-bg-color);
}

section .welcome{
  margin-left: 50%;
  max-width: 50%;
  background-color: var(--welcome-bg-color);
  color: #ffe;
  opacity: 0.9;
}


.active {
	color: #ffe !important;
}

.navbar-default .navbar-nav>li>a {
  color: #ccc;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FEB769;
}

.navbar{
	background-color: #0E648E;
	opacity: 0.9;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
}

.element.welcome, .active.welcome{
	background-color: var(--where-bg-color);
}

.element.where, .active.where{
	background-color: var(--welcome-bg-color);
}

.where h1{
  color: var(--where-bg-color);
}

section .where{
  margin-left: 20%;
  max-width: 75%;
  background-color: var(--where-bg-color);
  color: #ffe;
  opacity: 0.8;
}


/*.element.where > div{
	background-color: blue;
	width: 100px;
	color:red;
	transition: width 2s;
}

.element.where > div:hover{
	width: 1000px;
}*/


.program h1{
  color: var(--program-bg-color);
}

.program .title{
  width: 40%;
  float: left;
}

.program table{
  float: right;
  width: 35%;
  margin-right: 10%;
  margin-top: 4%;
  font-size: 1.4em;
  background-color: var(--program-bg-color);
  color: #ffe;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 2px 5px 11px rgba(0,0,0,0.5);
  font-family: 'Merriweather', sans-serif;
}

.program .container{
  width: 1%;
  height: 1%;
  margin: 0;
  padding: 0;

}


.element.program, .active.program{
	background-color: var(--gift-bg-color);
}

.foodanddrinks h1{
  color: var(--food-bg-color);
}

section .foodanddrinks{
  margin-left: 70%;
  max-width: 20%;
  background-color: var(--food-bg-color);
  color: #ffe;
  opacity: 0.8;
}


section .gift{
  margin-left: 45%;
  max-width: 45%;
  background-color: var(--gift-bg-color);
  color: #ffe;
  opacity: 0.8;
}


.element.foodanddrinks, .active.foodanddrinks{
	background-color: var(--program-bg-color);
}



.gift h1{
  color: var(--gift-bg-color);
}

.element.gift, .active.gift{
	background-color: var(--food-bg-color);
}

.element.info, .active.info{
	background-color: var(--welcome-bg-color);
}

.info table{
  width: 80%;
  margin-left: 15%;
  font-size: 1.4em;
  background-color: var(--food-bg-color);
  color: #ffe;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 2px 5px 11px rgba(0,0,0,0.5);
  font-family: 'Merriweather', sans-serif;
}
