

.body {
	margin: 0 !important;
	padding: 0 !important;
}

.element {
	height:700px;
	background-color: #ededed;
	font-size: 45px;
	border-top:1px solid #000;
	padding-top:55px;
	padding-left:10px;
}

.active {
	color: #ffe !important;
}

.navbar-default .navbar-nav>li>a {
  color: #ccc;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FEB769;
}

.navbar{
	background-color: #0E648E;
	opacity: 0.9;
}

.element.welcome,.active.welcome{
	background-color: #FEB769;
}

.element.welcome {
	/*background-image: url('../images/welcome/002.jpg');*/
  /*transition: background-image 0.3s ease-in-out;*/
}

.element.where, .active.where{
	background-color: #0E4458;
}

.element.where > div{
	background-color: blue;
	width: 100px;
	color:red;
	transition: width 2s;
}

.element.where > div:hover{
	width: 1000px;
}

.element.program, .active.program{
	background-color: #A6291C;
}

.element.foodanddrinks, .active.foodanddrinks{
	background-color: #8EAF8B;
}

.element.pictures, .active.pictures{
	background-color: #FEB769;
}

.element.gift, .active.gift{
	background-color: #0E4458;
}
